:root {
  --oscuro: #282c34;
  --blanco: #ffffff;
  --primario: #dddbdb;
  --secundario: #61dafb;
}

/* html {
  box-sizing: border-box;
  font-size: 70%;
} */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* TEXTO */

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

.titulo span {
  font-size: 1rem;
}

.titulo,
.titulo1 {
  background-color: var(--secundario);
  color: var(--blanco);
  max-width: auto;
  max-height: 150px;
}

.nombreLP {
  color: #61dafb;
}

/* IMAGENES */

.foto {
  height: 15rem;
  width: 15rem;
  background-color: #00000015;
  border-radius: 100%;
}

.App-header {
  background-color: var(--oscuro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(300px);
  color: var(--blanco);
}

.ref {
  border-radius: 1rem;
  background-color: var(--primario);
  margin: 1rem;
  border-bottom: solid 1px grey;
}

.contenido-columna {
  align-items: center;
}

@media (min-width: 768px) {
  .App {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0.5rem;
    gap: 1rem;
  }

  .ref {
    display: flex;
    justify-content: space-around;
  }

  .footer {
    grid-column: 2/2;
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .header {
    grid-column: 1/1;
    grid-row: 1/1;
  }

  .perfil {
    margin-bottom: auto;
    grid-column: 1/1;
    grid-row: 2/2;
  }

  .contacto {
    margin-bottom: auto;
    grid-column: 1/1;
    grid-row: 3;
  }
}

@media (min-width: 200px) {
  .App {
    text-align: center;
    padding: 0.2rem;
    gap: 0.5rem;
  }
}

@media (min-width: 600px) {
  .ref {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 720px) {
  .App {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0.5remrem;
    gap: 1rem;
  }

  .ref {
    display: flex;
    justify-content: space-around;
  }

  .footer {
    grid-column: 2/2;
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .header {
    grid-column: 1/1;
    grid-row: 1/1;
  }

  .perfil {
    grid-column: 1/1;
    grid-row: 2/2;
  }

  .contacto {
    grid-column: 1/1;
    grid-row: 3;
  }
}